{% assign hebrew = false %}
{% if page.name contains '_he' %}
	{% assign hebrew = true %}
{% endif %}
<table>
{% if hebrew %}
	{% assign t = 'רשימת קורסים (בבניה)' %}
{% else %}
	{% assign t = 'Courses List (under construction)' %}
{% endif %}
<caption>{{ t }}</caption>
<thead>
	<tr>
	{% if hebrew %}
		<th></th>
		<th>שם קורס</th>
		<th>סוג</th>
		<th></th>
	{% else %}
		<th></th>
		<th>Course Name</th>
		<th>Type</th>
		<th></th>
	{% endif %}
	</tr>
</thead>
<tbody>
	{% if hebrew %}
		{% assign courses = site.pages | where: 'name', 'course_he.md'  %}
	{% else %}
		{% assign courses = site.pages | where: 'name', 'course_en.md'  %}
	{% endif %}
	{% if hebrew %}
		{% assign courses = courses | sort: 'name_he' %}
	{% else %}
		{% assign courses = courses | sort: 'name_en' %}
	{% endif %}
	{% for s in courses %}
		{% assign t = s.dir | slice: 0, 9 %}
		{% unless t == '/courses/' %}
			{% continue %}
		{% endunless %}
		<tr>
		<td></td>
		{% assign c = s.content | strip %}
		<td>
			{% unless c == '' %}
				<a href='{{s.url}}'>
			{% endunless %}
			{% if hebrew %}
				{{s.name_he}}
			{% else %}
				{{s.name_en}}
			{% endif %}
			{% unless c == ''%}
				</a>
			{% endunless %}
		</td>
		{% if hebrew %}
			<td>{{s.cType_he}}</td>
		{% else %}
			<td>{{s.cType_en}}</td>
		{% endif %}
		{% if hebrew %}
			<td>{{s.cClass_he}}</td>
		{% else %}
			<td>{{s.cClass_en}}</td>
		{% endif %}
		</tr>		
	{% endfor %}
</tbody>
</table>

