{% assign hebrew = false %}
{% if page.name contains '_he' %}
	{% assign hebrew = true %}
{% endif %}
{% if page.key != 'inMemoriam' and page.key != 'adjunct' %}
{% if hebrew %}
<div style='font-size: x-small'>
(1) החדרים נמצאים בבנין ווסטון.
</div>
{% else %}
<div style='font-size: x-small'>
(`) The offices are at Weston building.
</div>
{% endif %}
{% endif %}
<table>
{% if hebrew %}
	{% assign t = page.tblCaption_he %}
	{% if t == '' %}
		{% assign t = page.tblCaption_en %}
	{% endif %}
{% else %}
	{% assign t = page.tblCaption_en %}
	{% if t == '' %}
		{% assign t = page.tblCaption_he %}
	{% endif %}
{% endif %}
<caption>{{ t }}</caption>
<thead>
	<tr>
	{% if hebrew %}
		<th></th>
		<th>שם
		{% if page.sortKey == nil or page.sortKey == 'firstName' %}
			פרטי
		{% else %}
			{% assign t = page.name | | remove: '_he.md' |
				remove: '_lastName' | remove: '_firstName' | remove: '_room'%}
			{% assign t = t | append: '_firstName_he.html'%}
			<a class='sortKey' href='{{t}}'>פרטי</a>
		{% endif %}
		{% if page.sortKey == nil or page.sortKey == 'lastName'%}
			ומשפחה
		{% else %}
			{% assign t = page.name | | remove: '_he.md' |
				remove: '_lastName' | remove: '_firstName' | remove: '_room'%}
			{% assign t = t | append: '_lastName_he.html'%}
			<a class='sortKey' href='{{t}}'>ומשפחה</a>
		{% endif %}
		</th>
		{% if page.key == 'inMemoriam'%}
		<th></th>
		{% endif %}
		{% if page.key != 'inMemoriam'%}
			{% if  page.key != 'adjunct' %}
				{% if page.sortKey == nil or page.sortKey == 'room' %}
					<th>משרד<sup><span style='font-size: xx-small;'>(1)</span></sup></th>
				{% else %}
					{% assign t = page.name | | remove: '_he.md' |
						remove: '_lastName' | remove: '_firstName' | remove: '_room'%}
					{% assign t = t | append: '_room_he.html'%}
					<th><a class='sortKey' href='{{t}}'>משרד<sup><span style='font-size: xx-small;'>(1)</span></sup></a></th>
				{% endif %}
			{% endif %}
			<th>מייל</th>
			{% if page.key != 'admin' %}
				<th>נושאי מחקר</th>
				<th>נושאי הוראה</th>
			{% endif %}
		{% endif %}
		<th></th>
	{% else %}
		<th></th>
		<th>
		{% if page.sortKey == nil or page.sortKey == 'firstName' %}
			First
		{% else %}
			{% assign t = page.name | | remove: '_en.md' |
				remove: '_lastName' | remove: '_firstName' | remove: '_room' %}
			{% assign t = t | append: '_firstName_en.html'%}
			<a class='sortKey' href='{{t}}'>First</a>
		{% endif %}
			and 
		{% if page.sortKey == nil or page.sortKey == 'lastName' %}
				Family
		{% else %}
			{% assign t = page.name | | remove: '_en.md' |
				remove: '_lastName' | remove: '_firstName' | remove: '_room'%}
			{% assign t = t | append: '_lastName_en.html'%}
			<a class='sortKey' href='{{t}}'>Family</a>
		{% endif %}
		name</th>
		
		{% if page.key == 'inMemoriam'%}
		<th></th>
		{% endif %}

		{% if page.key != 'inMemoriam'%}
			{% if  page.key != 'adjunct' %}
				{% if page.sortKey == nil or page.sortKey == 'room' %}
					<th>Office<sup><span style='font-size: xx-small;'>(1)</span></sup></th>
				{% else %}
					{% assign t = page.name | | remove: '_en.md' |
						remove: '_lastName' | remove: '_firstName' | remove: '_room' %}
					{% assign t = t | append: '_room_en.html'%}
					<th><a class='sortKey' href='{{t}}'>Office<sup><span style='font-size: xx-small;'>(1)</span></sup></a></th>
				{% endif %}
			{% endif %}
			<th>Mail mta domain</th>
			{% if  page.key != 'admin' %}
				<th>Research topics</th>
				<th>Teaching topics</th>
			{% endif %}
		{% endif %}
		<th></th>
	{% endif %}
	</tr>
</thead>
<tbody>
	{% assign staff = site.pages | where: 'name', 'me.md'  %}
	{% assign staff = staff | where: 'staffType', page.key %}
	{% case page.sortKey %}
	{% when 'firstName' %}
		{% if hebrew %}
			{% assign staff = staff | sort: 'firstName_he' %}
		{% else %}
			{% assign staff = staff | sort: 'firstName' %}
		{% endif %}
	{% when 'lastName' %}
		{% if hebrew %}
			{% assign staff = staff | sort: 'lastName_he' %}
		{% else %}
			{% assign staff = staff | sort: 'lastName' %}
		{% endif %}
	{% when 'room' %}
		{% assign staff = staff | sort: 'room' %}
	{% else  %}
		{% if hebrew %}
			{% assign staff = staff | sort: 'lastName_he' %}
		{% else %}
			{% assign staff = staff | sort: 'lastName' %}
		{% endif %}
	{% endcase %}
	{% for s in staff %}
		<tr>
		{% assign jpgName = s.dir | append: 'me.jpg' %}
		{% assign jpgFile = site.static_files | where: 'path', jpgName | first %}
		{% if jpgFile == nil %}
			{% assign jpgName = s.dir | append: 'me.png' %}
			{% assign jpgFile = site.static_files | where: 'path', jpgName | first %}
		{% endif %}
		<td>
			{% if jpgFile %}
				<span class='thumbnailGame'>
				<img  style='height: 2Em' src="{{jpgName}}">
				<img class='thumbnail' src="{{jpgName}}">
				</span>
			{% endif %}
		</td>
		{% assign publishedHref = '' %}
		{% if page.key == 'inMemoriam' %}
			{% assign t = s.dir | append: 'self/meGloria.html' %}
			{%  assign exists = site.pages | where: 'url', t | first %}
			{% unless exists %}
				{%  assign exists = site.static_files | where: 'path', t | first %}
			{% endunless %}
			{% if exists %}
				{% if hebrew %}
					{% assign publishedHref = s.dir | append: 'index_he.html' %}
				{% else %}
					{% assign publishedHref = s.dir | append: 'index.html' %}
				{% endif %}
			{% endif %}
		{% endif %}
		{% if publishedHref == '' %}
			{% assign publishedName = s.dir | append: 'mePublished_frml_en.html' %}

			{% assign publishedFile = site.pages | 
							where: 'url', publishedName | first %}
			{% if publishedFile %}
				{% assign publishedHref = publishedName %}
			{% endif %}
			{% if hebrew %}
				{% assign publishedName = s.dir | append: 'mePublished_frml_he.html' %}
				{% assign publishedFile = site.pages | 
								where: 'url', publishedName | first %}
				{% if publishedFile %}
					{% assign publishedHref = publishedName %}
				{% endif %}
			{% endif %}
		{% endif %}
		{% assign name = "<span dir='ltr'>" | append: s.firstName |
					append: ' ' | append: s.lastName | append: "</span>" %} 
		{% if hebrew and s.firstName_he %}
			{% assign name = s.firstName_he | append: ' ' | append: s.lastName_he %}
		{% endif %}	
	
		<td>
		{% if page.key == "inMemoriam" %}
			<img style="width: 1Em;" src="/images/Candle_no_copyright.jpg">
		{% endif %}
		{% if publishedHref != '' %}
			<a href="{{ publishedHref }}">{{ name }}</a>
		{% else %}
			{{ name }}
		{% endif %}
		</td>
		
		{% if page.key == 'inMemoriam'%}
		<td>
			{% if s.passedAway  or  s.born %}
				{% if s.born %}
					{% capture bD  %}
						{% include fnc_niceDate.html date=s.born hebrew=hebrew %}
					{% endcapture %}
					{{bD}}
				{% endif %}
				&mdash;
				{% if s.passedAway %}
					{% assign bD = bD | strip %}
					{% capture dD  %}
						{% include fnc_niceDate.html date=s.passedAway hebrew=hebrew %}
					{% endcapture %}
					{% assign dD = dD | strip %}
					{{ dD }}
				{% endif %}
			{% endif %}
		</td>
		{% endif %}
		{% if  page.key != 'inMemoriam' %}
			{% if  page.key != 'adjunct' %}
				<td dir="ltr" style="text-align: center">{{ s.room }}</td>
			{% endif %}
			<td dir="ltr">{{ s.email }}</td>
			{% if  page.key != 'admin' %}
				{% if hebrew %}
					{% if s.researchTopics_he %}
						{% assign rT = s.researchTopics_he %}
						{% assign rTs = "dir='rtl' style='text-align: right'" %}
					{% else %}
						{% assign rT = s.researchTopics %}
						{% assign rTs = "dir='ltr' style='text-align: left'" %}
					{% endif %}
				{% else %}
					{% if s.researchTopics %}
						{% assign rT = s.researchTopics %}
						{% assign rTs = "dir='ltr' style='text-align: left'" %}
					{% else %}
						{% assign rT = s.researchTopics_he %}
						{% assign rTs = "dir='rtl' style='text-align: right'" %}
					{% endif %}
				{% endif %}
				<td {{rTs}} > {{ rT }} </td>
				
				{% if hebrew %}
					{% if s.teachingTopics_he %}
						{% assign tT = s.teachingTopics_he %}
						{% assign tTs = "dir='rtl' style='text-align: right'" %}
					{% else %}
						{% assign tT = s.teachingTopics %}
						{% assign tTs = "dir='ltr' style='text-align: left'" %}
					{% endif %}
				{% else %}
					{% if s.teachingTopics %}
						{% assign tT = s.teachingTopics %}
						{% assign tTs = "dir='ltr' style='text-align: left'" %}
					{% else %}
						{% assign tT = s.teachingTopics_he %}
						{% assign tTs = "dir='rtl' style='text-align: right'" %}
					{% endif %}
				{% endif %}
				<td {{ tTs }}> {{ tT }} </td>
				
			{% endif %}
		{% endif %}

		{% assign comma = false %}
		{% assign comment = '' %}
		{% if s.dean %}
			{% if hebrew %}
				{% assign comment = comment | append: 'דיקן' %}
			{% else %}
				{% assign comment = comment | append: 'Dean' %}
			{% endif %}
			{% assign comma = true %}
		{% endif %}
		{% if s.formerDean %}
			{% if comma %}
				{% assign comment = comment | append: ',' %}
			{% endif %}
			{% if hebrew %}
				{% assign comment = comment | append: 'דיקן לשעבר' %}
			{% else %}
				{% assign comment = comment | append: 'former dean' %}
			{% endif %}
			{% assign comma = true %}
		{% endif %}
		{% if s.math %}
			{% if comma %}
				{% assign comment = comment | append: ',' %}
			{% endif %}
			{% if hebrew %}
				{% assign comment = comment | append: 'ממונה על הקורסים המתמטיים' %}
			{% else %}
				{% assign comment = comment | append: 'in charge of Mathematics courses' %}
			{% endif %}
			{% assign comma = true %}
		{% endif %}	
		{% if s.teacher %}
			{% if comma %}
				{% assign comment = comment | append: ',' %}
			{% endif %}
			{% if hebrew %}
				{% assign comment = comment | append: 'מורה' %}
			{% else %}
				{% assign comment = comment | append: 'teacher' %}
			{% endif %}
			{% assign comma = true %}
		{% endif %}
		{% if s.headMsc %}
			{% if comma %}
				{% assign comment = comment | append: ',' %}
			{% endif %}
			{% if hebrew %}
				{% assign comment = comment | append: 'ראש התוכנית לתואר שני' %}
			{% else %}
				{% assign comment = comment | append: 'head of M.Sc. program' %}
			{% endif %}
			{% assign comma = true %}
		{% endif %}
		{% if s.headAdmin %}
			{% if comma %}
				{% assign comment = comment | append: ',' %}
			{% endif %}
			{% if hebrew %}
				{% assign comment = comment | append: 'ראשת מינהל' %}
			{% else %}
				{% assign comment = comment | append: 'head of cs admin' %}
			{% endif %}
			{% assign comma = true %}
		{% endif %}
		{% if s.subheadAdmin %}
			{% if comma %}
				{% assign comment = comment | append: ',' %}
			{% endif %}
			{% if hebrew %}
				{% assign comment = comment | append: "ע' ראשת מינהל" %}
			{% else %}
				{% assign comment = comment | append: 'head of cs admin assistant' %}
			{% endif %}
			{% assign comma = true %}
		{% endif %}
		{% if s.emeritus %}
			{% if comma %}
				{% assign comment = comment | append: ',' %}
			{% endif %}
			{% if hebrew %}
				{% assign comment = comment | append: 'אמריטוס' %}
			{% else %}
				{% assign comment = comment | append: 'emeritus' %}
			{% endif %}
			{% assign comma = true %}
		{% endif %}
		{% if s.retired %}
			{% if comma %}
				{% assign comment = comment | append: ',' %}
			{% endif %}
			{% if hebrew %}
				{% assign comment = comment | append: 'אמריטוס' %}
			{% else %}
				{% assign comment = comment | append: 'emeritus' %}
			{% endif %}
			{% assign comma = true %}
		{% endif %}
		{% if s.oldPersonalSite %}
			{% if comma %}
				{% assign comment = comment | append: ',' %}
			{% endif %}
			{% assign comment = comment | append: "<a href='" %}
			{% assign comment = comment | append: s.oldPersonalSite %}
			{% assign comment = comment | append: "'>" %}
			{% if hebrew %}
				{% assign comment = comment | append: 'אתר אישי ישן' %}
			{% else %}
				{% if comma %}
					{% assign comment = comment | append: 'old personal site' %}
				{% else %}
					{% assign comment = comment | append: 'Old personal site' %}
				{% endif %}
			{% endif %}
			{% assign comment = comment | append: '</a>' %}
			{% assign comma = true %}
		{% endif %}
		{% if s.personalSite %}
			{% if comma %}
				{% assign comment = comment | append: ',' %}
			{% endif %}
			{% assign comment = comment | append: "<a href='" %}
			{% assign comment = comment | append: s.personalSite %}
			{% assign comment = comment | append: "'>" %}
			{% if hebrew %}
				{% assign comment = comment | append: 'אתר אישי' %}
			{% else %}
				{% if comma %}
					{% assign comment = comment | append: 'personal site' %}
				{% else %}
					{% assign comment = comment | append: 'Personal site' %}
				{% endif %}
			{% endif %}
			{% assign comment = comment | append: '</a>' %}
			{% assign comma = true %}
		{% endif %}
		{% if s.memorialSite %}
			{% if comma %}
				{% assign comment = comment | append: ',' %}
			{% endif %}
			{% assign comment = comment | append: "<a href='" %}
			{% assign comment = comment | append: s.memorialSite %}
			{% assign comment = comment | append: "'>" %}
			{% if hebrew %}
				{% assign comment = comment | append: 'אתר זכרון' %}
			{% else %}
				{% if comma %}
					{% assign comment = comment | append: 'memorial site' %}
				{% else %}
					{% assign comment = comment | append: 'memorial site' %}
				{% endif %}
			{% endif %}
			{% assign comment = comment | append: '</a>' %}
			{% assign comma = true %}
		{% endif %}
		
		{% if hebrew and s.deadComment_he %}
			{% if comma %}
				{% assign comment = comment | append: ',' %}
			{% endif %}
			{% assign comment = comment | append: s.deadComment_he %}
			{% assign comma = true %}		
		{% elsif hebrew == false and s.deadComment %}
			{% if comma %}
				{% assign comment = comment | append: ',' %}
			{% endif %}
			{% assign comment = comment | append: s.deadComment %}
			{% assign comma = true %}		
		{% endif %}
		{% if comma %}
			{%assign comment = comment | append: '.' %}
		{% endif %}
		{% assign comment = comment | replace: ',', ', '%}
		{% if hebrew == false %}
			{% assign size = comment | size %}
			{% assign first = comment | slice: 0 %}
			{% assign comment = comment | slice: 1, size %}
			{% assign comment = first | capitalize | append: comment %}
		{% endif %}
		<td>{{comment}}</td>
		</tr>		
	{% endfor %}
</tbody>
</table>
