{% assign hebrew = false %}
{% if page.name contains '_he' %}
	{% assign hebrew = true %}
{% endif %}
{% assign t = page.h2_en %}
{% if hebrew %}
	{% assign t = page.h2_he %}
{% endif %}
<h2>{{ t }}</h2>

{% assign t = page.h4_en %}
{% if hebrew %}
	{% assign t = page.h4_he %}
{% endif %}
<h4>{{ t }}</h4>


{% assign t = page.dir | append: 'seminars/'%}
{% assign names = site.pages | where: 'dir', t %}
{% assign names = names | sort: 'evtDate' | reverse %}
<ol reversed>
{% for s in names %}
	<li>
	{% if hebrew %}
		ביום
		{% assign t = s.evtDate | date: '%a' %}
		{% case t %}
			{% when 'Sun' %} ראשון,
			{% when 'Mon' %} שני,
			{% when 'Tue' %} שלישי,
			{% when 'Wed' %} רביעי,
			{% when 'Thu' %} חמישי,
			{% when 'Fri' %} שישי,
			{% when 'Sat' %} שבת,
		{% endcase %}
		ה-{{s.evtDate | date: '%-d'}}
			{% assign t = s.evtDate | date: '%-m' %}
		{% case t %}
			{% when '1' %} לינואר
			{% when '2' %} לפברואר
			{% when '3' %} למרץ
			{% when '4' %} לאפריל
			{% when '5' %} למאי
			{% when '6' %} ליוני
			{% when '7' %} ליולי
			{% when '8' %} לאוגוסט
			{% when '9' %} לספטמבר
			{% when '10' %} לאוקטובר
			{% when '11' %} לנובמבר
			{% when '12' %} לדצמבר
		{% endcase %}
		{{ s.evtDate | date: '%Y,' }}
		בשעה
		{% if s.evtTime %}
			{{s.evtTime}}
		{% else %}
			1400
		{% endif %}
		<span style="font-size: x-large">
		{% if s.evtSpeaker_he %}
			{{s.evtSpeaker_he}} 
		{% else %}
			{{s.evtSpeaker}}
		{% endif %}
		</span>
			{% if s.genderSpeak %}
				{{ s.genderSpeak }}.
			{% else %}
				ידבר.
			{% endif %}
			{% if s.evtTitle_he %}
				<h3>{{s.evtTitle_he}}</h3>
			{% else %}
				<div dir='ltr' style='text-align: left'>
					<h3 style="text-align: center">{{s.evtTitle}}</h3></div>
			{% endif %}
	{% else %}
		On {{s.evtDate | date: "%A, %B %-d, %Y"}} 
		at 
		{% if s.evtTime %}
			{{s.evtTime}}
		{% else %}
			1400
		{% endif %}
		<span style="font-size: x-large">
		{% if s.evtSpeaker %}
			{{s.evtSpeaker}} 
		{% else %}
			{{s.evtSpeaker_he}} 
		{% endif %}
		</span>
		will speak.
		{% if s.evtTitle %}
			<h3 style='text-align:center'>{{ s.evtTitle }}</h3>
		{% else %}
			<h3 style="text-align: center">{{ s.evtTitle_he }}</h3>
		{% endif %}
	{% endif %}
	{% if hebrew %}
		{% if s.evtAbstract_he %}
			<div> {{s.evtAbstract_he}} </div>
		{% else %}
			<div dir='ltr' style='text-align: left'>
				{{s.evtAbstract}} </div>
		{% endif %}
	{% else %} 
		{% if s.evtAbstract %}
			<div> {{ s.evtAbstract }} </div>
		{% else %}
			<div dir='rtl' style='text-align: right'>
				{{ s.evtAbstract_he }} </div>
		{% endif %}
	{% endif %}
	</li>
{% endfor %}
</ol>
