{% assign hebrew = false %}
{% if page.url contains '_he' %}
	{% assign hebrew = true %}
{% endif %}
<script>
window.MathJax = {
tex: {
	inlineMath: [['$', '$'], ['\\(', '\\)']]
}
};
</script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% if hebrew %}
<h2>מבחר פרסומים אחרונים</h2>
{% else %}
<h2>Selected Recent Publications</h2>
{% endif %}
{% assign publicationsDir = page.dir | append: 'publications/' %}
{% assign publicationFile = site.pages | where: 'dir', publicationsDir | first%}
{% assign publications = publicationFile.listPublications %}
<table border>
{% assign antiCounter = publications | size %}
{% for s in publications %}
	<tr dir='ltr' style='text-align: left' >
	<td>{{ s.author }}</td>
	<td style='font-style: italic'>
	{% if s.doi %}
		<a href="https://doi.org/{{s.doi}}">{{s.title}}</a>
	{% elsif s.url %}
		<a href="{{s.url}}">{{ s.title }}</a>
	{% else %}
		{{ s.title }}
	{% endif %}
	</td>
	<td>
	{{ s.journal }}
	</td>
	{% assign l = s.pubDate | size %}
	{% assign d = s.pubDate %}
	{% if l == 4 %}
		{% assign d = d | append: '-01-01'%}
	{% elsif l == 7 %}
		{% assign d = d | append: '-01'%}
	{% elsif l == 10 %}
		{% assign d = d | append: '-01' %}
	{% endif %}
	{% if hebrew %}
		<td dir='rtl' style='text-align: right;'>
		{% assign t = d | date: '%-m' %}
		{% case t %}
			{% when '1' %} ינואר
			{% when '2' %} פברואר
			{% when '3' %} מרץ
			{% when '4' %} אפריל
			{% when '5' %} מאי
			{% when '6' %} יוני
			{% when '7' %} יולי
			{% when '8' %} אוגוסט
			{% when '9' %} ספטמבר
			{% when '10' %} אוקטובר
			{% when '11' %} נובמבר
			{% when '12' %} דצמבר
		{% endcase %}
		{{ d | date: '%Y'}}
			</td>
	{% else %}
		<td>{{d | date: '%B %Y'}}</td>
	{% endif %}
	{% if hebrew %}
		{% if s.comment_he %}
			{% if s.commenturl %}
				<td  dir='rtl' style='text-align: right'><a href='{{s.commenturl}}'>{{ s.comment_he }}</a></td>
			{% else %}
				<td dir='rtl' style='text-align: right'>{{ s.comment_he }}</td>
			{% endif %}
		{% else %}
			{% if s.commenturl %}
				<td><a href='{{s.commenturl}}'>{{ s.comment }}</a></td>
			{% else %}
			<td>{{ s.comment }}</td>
			{% endif %}
		{% endif %}
	{% else %}
		{% if s.comment %}
			{% if s.commenturl %}
				<td><a href='{{s.commenturl}}'>{{ s.comment }}</a></td>
			{% else %}
				<td>{{ s.comment }}</td>
			{% endif %}
		{% else %}
			{% if s.commenturl %}
				<td dir='rtl' style='text-align: right'><a href='{{s.commenturl}}'>{{ s.comment_he }}</a></td>
			{% else %}
				<td dir='rtl' style='text-align: right'>{{ s.comment_he }}</td>
			{% endif %}
		{% endif %}
	{% endif %}
	</tr>
{% endfor %}
</table>
