---
---

{% include person_top.html %}

<ol>
<li>
 Using Facial Expression Recognition and EEG semi Professional Headsets for improving learning abilities.
</li>
<li>
	Brain Computer Interface using EEG Headsets
</li>
<li>
 Research on Federated and Collaborative learning, where private data from different stations can be used to train neural nets without exposing the data to the public.
</li>
<li>
 Autonomous robotic navigation system for self-driving robots based on deep learning methodologies. 
</li>
</ol>

{% include person_bottom.html %}
