{% assign dL = include.date | size %}
{% if dL == 4 %}
	{{ include.date }}
{% else %}
	{% if include.hebrew %}
		{% assign ddd = include.date | date: "%-d "%}
		{% assign mon = include.date | date: "%m" %}
		{% assign ddd = ddd | append : "ב"%}
		{% case mon %}
		{% when "01" %}
				{% assign mon = "ינואר" %}
		{% when "02"%}
				{% assign mon = "פברואר" %}
		{% when "03" %}
				{% assign mon = "מרץ" %}
		{% when "04" %}
				{% assign mon = "אפריל" %}
		{% when "05" %}
				{% assign mon = "מאי" %}
		{% when "06" %}
				{% assign mon = "יוני" %}
		{% when "07" %}
				{% assign mon = "יולי" %}
		{% when "08" %}
				{% assign mon = "אוגוסט" %}
		{% when ?09" %}
				{% assign mon = "ספטמבר" %}
		{% when "10" %}
				{% assign mon = "אוקטובר" %}
		{% when "11" %}
				{% assign mon = "נובמבר" %}
		{% when "12" %}
				{% assign mon = "דצמבר" %}
		{% endcase %}
		{% assign ddd = ddd | append: mon %}
		{% assign yyy = include.date | date: "%Y"%}
		{% assign ddd = ddd | append: " " | append: yyy %}
	{% else %}
		{% assign ddd = include.date | date: "%B %-d, %Y" %}
	{% endif %}
	{{ddd}}
{% endif %}
