<!DOCTYPE html>
{% assign hebrew = false %}
{% if page.url contains '_he'%}
	{% assign hebrew = true %}
{% endif %}
{% assign dbName = page.dir | append: 'me.html' %}
{% assign db = site.pages | where: 'url', dbName | first %}
{% if hebrew %}
<html dir='rtl'>
{% else %}
<html>
{%endif%}
	<head>
	{% comment %}
	{% include gtag.js %}
	{% endcomment %}
	{% if hebrew %}
		<title> {{page.title}}, {{ db.firstName_he }} {{db.lastName_he}}</title>
	{% else %}
		<title> {{page.title}}, {{ db.firstName }} {{db.lastName}}</title>
	{% endif %}
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
	<header>
	<table>
   <colgroup>
       <col span="1" style="width: 1%;">
       <col span="1" >
	   {% if db.passedAway %}
       <col span="1" >
	   {% endif %}
       <col span="1" style="width: 4%;">
    </colgroup>
	<tbody>
	<tr>
	<td class="picture">
		{% assign jpgName = page.dir | append: 'me.jpg' %}
		{% assign jpgFile = site.static_files | where: 'path', jpgName | first %}
		{% if jpgFile == nil %}
			{% assign jpgName = page.dir | append: 'me.png' %}
			{% assign jpgFile = site.static_files | where: 'path', jpgName | first %}
		{% endif %}
		{% if jpgFile.path != nil %}
			<img style='height: 6Em;' src="{{jpgFile.path}}">
		{% endif %}
	</td>
	<td>
	{% if hebrew %}
		{% assign s = db.firstName_he | append: ' ' | append: db.lastName_he %}
		{% assign comma = true %}
		{% assign s = s | append: "<span style='font-size: 75%'>" %}
		{% if db.rank %}
			{% if db.rank > 2 %}
				{% assign s = s | append: ' פרופסור' %}
			{% endif %}
		{% endif %}
		{% if db.emeritus %}
			{% assign s = s | append: ' אמריטוס' %}
		{% endif %}
		{% if db.formerDean %}
			{% assign s = s | append: ', דיקן לשעבר' %}
		{% endif %}
		{% if db.dean %}
			{% assign s = s | append: ', דיקן' %}
		{% endif %}
	{% else %}
		{% assign s = db.firstName | append: ' ' | append: db.lastName %}
		{% assign comma = true %}
		{% assign s = s | append: "<span style='font-size: 75%'>" %}
		{% if db.rank %}
			{% if db.rank > 2 %}
				{% assign s = s | append: ' professor' %}
			{% endif %}
		{% endif %}
		{% if db.emeritus %}
			{% assign s = s | append: ' emeritus' %}
		{% endif %}
		{% if db.formerDean %}
			{% assign s = s | append: ', former dean' %}
		{% endif %}
		{% if db.dean %}
			{% assign s = s | append: ', dean' %}
		{% endif %}
	{% endif %}
	{% assign s = s | append: "</span>" %}
	<h2>{{ s }}</h2>

	{% assign s = '' %}
	{% if db.passedAway  %}
		{% if db.born %}
			{% capture bD  %}
				{% include fnc_niceDate.html date=db.born hebrew=hebrew %}
			{% endcapture %}
			{% assign bD = bD | strip %}
			{% capture dD  %}
				{% include fnc_niceDate.html date=db.passedAway hebrew=hebrew %}
			{% endcapture %}
			{% assign dD = dD | strip %}
			{% assign s = bD | append: " &mdash; " | append: dD%}
		{% else %}
		{% if hebrew %}
			{% assign s = s | append: 'נפטר ב-' %}					
		{% else %}
		{%  assign s = s | append: 'Passed away on ' %}
		{% endif %}
		{% capture out %}
		{% include fnc_niceDate.html date=db.passedAway hebrew=hebrew %}
		{% endcapture %}
		{% assign out = out | strip %}
		{% assign s = s | append: out  %}
		{% endif %}
	{% endif %}
	{% assign s = s | append: "</span>" %}
	<h3>{{ s }}</h3>
	
	
	{% if  hebrew %}
		<h4>בית הספר למדעי המחשב</h4>
		<h4>המכללה האקדמית תל-אביב</h4>
		{% if db.room %}
		בניין ווסטון חדר {{db.room}} <br/>
		{% endif %}
		{% if db.mobile %}
		נייד: <span dir='ltr'>{{ db.mobile}} </span> </br>
		{% endif %}
		{% if db.personalSite %}
		<a href='{{db.personalSite}}'>אתר אישי</a> <br/>
		{% endif %}
	{% else %}
		<h4>School of Computer Science</h4>
		<h4>Academic College of Tel-Aviv</h4>
		{% if db.room %}
		Weston building room {{db.room}} <br/>
		{% endif %}
		{% if db.mobile %}
			mobile: {{ db.mobile}}  <br/>
		{% endif %}
		{% if db.personalSite %}
		<a href='{{db.personalSite}}'>Personal site</a><br/>
		{% endif %}
	{% endif %}
	</td>
	{% if db.passedAway %}
		<td><img style="height: 6Em;" src="/images/Candle_no_copyright.jpg"></td>
	{% endif %}
	<td class="switch">
		{% if hebrew %}
			{% if page.name == 'index_he.html' %}
				{% assign s = 'index.html'%}
			{% else %}
				{% assign s = page.url | remove: '_he.html' | append: '_en.html'%}
			{% endif %}
			<a href="{{s}}">
			<table style='text-align: center; border:0;'>
			<tr><td style="padding: 0;">
			<img  class="flag" src="/images/us.svg">
			</td></tr>
			<tr><td  style="font-size: xx-small; padding: 0;">
				to english
			</td></tr>
			</table>
			</a>
		{% else %}
			{% if page.name == 'index.html' %}
				{% assign s = 'index_he.html'%}
			{% else %}
				{% assign s = page.url | remove:'_en.html' | append: '_he.html'%}
			{% endif %}
			<a href="{{s}}">
			<table style='text-align: center; border: 0;'>
			<tr><td style="padding: 0;">
			<img  class="flag" src="/images/il.svg">
			</td></tr>
			<tr><td  style="font-size: xx-small; padding: 0;">
				לעברית
			</td></tr>
			</table>
			</a>
		{% endif %}
	</td>
	</tr>
	</tbody>
	</table>
	
	<nav>
	<ul>
		{% if hebrew %}
			<li><a class='menu' href="/index_he.html">בית ספר</a></li>
		{% else %}
			<li><a class='menu' href="/index.html">School</a></li>
		{% endif %}

		{% assign t = page.dir | append: 'self/'%}
		{% assign existsSelf = false %}
		{% assign existsFiles = site.pages | 
							where: 'dir', t | first %}
		{% if existsFiles %}
			{% assign existsSelf = true %}
		{% else %}
			{% for s in  site.static_files %}
				{% if s.path contains t %}
					{% assign existsSelf = true %}
					{% break %}
				{% endif %}
			{% endfor %}
		{% endif %}
		
		{% if existsSelf %}
			{% if hebrew %}
				{% if page.name contains 'index'%}
					<li>עצמי</li>
				{% else %}
				<li><a class='menu' href="index_he.html">עצמי</a></li>
				{% endif %}
			{% else %}
				{% if page.name contains 'index'%}
					<li>Self</li>
				{% else %}
					<li><a class='menu' href="index.html">Self</a></li>
				{% endif %}
			{% endif %}
		{% endif %}
		
		{% assign t = page.dir | append: 'teaching/'%}
		{% assign existsTeaching = false %}
		{% assign existsFiles = site.pages | 
							where: 'dir', t | first %}
		{% if existsFiles %}
			{% assign existsTeaching = true %}
		{% endif %}

		{% if existsTeaching %}
			{% if hebrew %}
				{% if page.url contains 'meTeaching'%}
					<li>הוראה</li>
				{% else %}
					<li><a class='menu' href="meTeaching_he.html">הוראה</a></li>
				{% endif %}
			{% else %}
				{% if page.url contains 'meTeaching'%}
					<li>Teaching</li>
				{% else %}
					<li><a class='menu' href="meTeaching_en.html">Teaching</a></li>
				{% endif %}
			{% endif %}
		{% endif %}

		{% assign t = page.dir | append: 'publications/'%}
		{% assign existsPublications = false %}
		{% assign existsFiles = site.pages | 
							where: 'dir', t | first %}
		{% if existsFiles %}
			{% assign existsPublications = true %}
		{% endif %}

		{% if existsPublications %}
			{% if hebrew %}
				{% if page.url contains 'mePublished' %}
					פרסומים
				{% else %}
					<li><a class='menu' href="mePublished_frml_he.html">פרסומים</a></li>
				{% endif %}
			{% else %}
				{% if page.url contains 'mePublished' %}
					<li>Publications</li>
				{% else %}
					<li><a class='menu' href="mePublished_frml_en.html">Publications</a></li>
				{% endif %}
			{% endif %}
		{% endif %}

		{% assign t = page.dir | append: 'grad/'%}
		{% assign existsGrad = false %}
		{% assign existsFiles = site.pages | 
							where: 'dir', t | first %}
		{% if existsFiles %}
			{% assign existsGrad = true %}
		{% endif %}

		{% if existsGrad %}
			{% if hebrew %}
				{% if page.url contains 'meGrad' %}
					תלמידי <span dir="auto">M.Sc.</span>
				{% else %}
					<li><a class='menu' href="meGrad_he.html">תלמידי <span dir="auto">M.Sc.</span></a></li>
				{% endif %}
			{% else %}
				{% if page.url contains 'meGrad' %}
					<li>M.Sc. Students</li>
				{% else %}
					<li><a class='menu' href="meGrad_en.html">M.Sc. Students</a></li>
				{% endif %}
			{% endif %}
		{% endif %}


		{% assign t = page.dir | append: 'openings/'%}
		{% assign existsOpenings = false %}
		{% assign existsFiles = site.pages | 
							where: 'dir', t | first %}
		{% if existsFiles %}
			{% assign existsOpenings = true %}
		{% endif %}

		{% if existsOpenings %}
			{% if hebrew %}
				{% if page.url contains 'meOpenings' %}
					הצעות <span dir="auto">M.Sc.</span>
				{% else %}
					<li><a class='menu' href="meOpenings_he.html">הצעות <span dir="auto">M.Sc.</span></a></li>
				{% endif %}
			{% else %}
				{% if page.url contains 'meOpenings' %}
					<li>M.Sc. Openings</li>
				{% else %}
					<li><a class='menu' href="meOpenings_en.html">M.Sc. Openings</a></li>
				{% endif %}
			{% endif %}
		{% endif %}


	</ul>
	</nav>
	</header>
