{% assign hebrew = false %}
{% if page.url contains '_he' %}
	{% assign hebrew = true %}
{% endif %}
<!doctype html>
{% if hebrew %}
	<html dir='rtl'>
{% else %}
	<html>
{% endif %}
	<head>
	{% include gtag.js %}
	{% if hebrew %}
		{% assign t = page.title_he %}
		{% if t == '' %}
			{% assign t = page.title_en %}
		{% endif %}
	{% else %}
		{% assign t = page.title_en %}
		{% if t == '' %}
			{% assign t = page.title_he %}
		{% endif %}
	{% endif %}
	<title> {{ t }} </title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>

	<body>
	<header>
	<table>
   <colgroup>
       <col span="1" style="width: 10%;">
       <col span="1" >
       <col span="1" style="width: 4%;">
    </colgroup>	<tbody>
	<tr>
	<td style='white-space: nowrap; text-align: center;'>
		{% if hebrew %}
			<h3>הסגל האקדמי של</h3>
			<h3>בית הספר למדעי המחשב</h3>
			<h4> המכללה האקדמית תל&#1470;אביב</h4>
		{% else %}
			<h3 >The Faculty of the</h3> 
			<h3>School of Computer Science</h3>
			<h4> Academic College of Tel-Aviv</h4>
		{% endif %}
	</td>
	<td> <img style="height: 5Em;" src='/images/Weston.jpg'>
	</td>
	<td class="switch">
		{% assign t = page.url %}
		{% if t == "/" %}
			{% assign t = '/index.html' %}
		{% endif %}
		{% if t contains '_he'%}
			{% assign t = t | replace: '_he', '_en'%}
			<a href="{{t}}">
			<table style='text-align: center; border:0;'>
			<tr><td style="padding: 0;">
			<img  class="flag" src="/images/us.svg">
			</td></tr>
			<tr><td  style="font-size: xx-small; padding: 0;">
				to english
			</td></tr>
			</table>
			</a>
		{% else %}
			{% assign t = t | replace: '_en', '_he'%}
			<a href="{{t}}">
			<table style='text-align: center; border: 0;'>
			<tr><td style="padding: 0;">
			<img  class="flag" src="/images/il.svg">
			</td></tr>
			<tr><td  style="font-size: xx-small; padding: 0;">
				לעברית
			</td></tr>
			</table>
			</a>
		{% endif %}
	</td>
	</tr>
	</tbody>
	</table>
		
	<nav>

	{% if hebrew %}
		{% comment %}
		{% assign m = "דף ראשי, סגל אקדמי, סגל עמית, סגל מנהלי, סמינרים, לזכרם, משרות פתוחות" %}
		{% endcomment %}
		{% assign m = "דף ראשי, סגל אקדמי, סגל עמית, סגל מנהלי, סמינרים, תזות <span dir='auto'>M.Sc.</span>, לזכרם" %}
	{% else %}
		{% comment %}
		{% assign m = "School, Faculty, Adjunct Faculty, Admin staff, Seminars, In memoriam, Faculty Openings" %}
		{% endcomment %}
		{% assign m = "School, Faculty, Adjunct Faculty, Admin staff, Seminars, M.Sc. theses, In memoriam" %}
	{% endif %}

	{% assign vs = m | split: ','%}
	{% assign menuText = '' | split: ',' %}
	{% for v in vs %}
		{% assign s = v | strip %}
		{% assign menuText = menuText | push: s %}
	{% endfor %}
	{% assign vs = '/index,/menuFaculty_lastName,/menuAdjunct_lastName,/menuAdmin_lastName,/menuSeminars,/grad/gradList,/menuInMemoriam_lastName,/menuOpenings' 
													| split: ',' %}
	{% assign menuFile = '' | split: ',' %}
	{% for v in vs %}
		{% assign s = v | strip %}
		{% assign menuFile = menuFile | push: s %}
	{% endfor %}

   	<ul class='menu'>
		{% for m in menuText %}
			{% assign ttt = menuFile[forloop.index0] %}
			{% assign ttt = ttt | remove: '_lastName' | remove: 'firstName' | remove: 'room'%}
			{% assign ppp = page.url %}
			{% assign ppp = ppp | remove: '_lastName' | remove: 'firstName' | remove: 'room'%}
			{% if hebrew %}
				{% assign fff = menuFile[forloop.index0] | append: '_he.html' %}
			{% else %}
				{% assign fff = menuFile[forloop.index0] | append: '_en.html' %}
			{% endif %}
			{% if ppp contains ttt %}
				<li>{{m}}</li>
			{% elsif page.url == '/' and fff == 'index' %}
				<li>{{m}}</li>
			{% else %}
				<li><a class='menu' href="{{fff}}">{{m}}</a></li>
			{% endif %}
		{% endfor %}
	</ul>	
	</nav>
	</header>
