---
---

{% include person_top.html %}

<div style="background-color: gainsboro">
My main research topic is software engineering and formal methods in software engineering. 
It includes developing of theories and tools in order to achieve high quality software. 
Those developments refer to all phases in software development, 
i.e., requirements, design, coding, testing, verification, and software evolution. 
The research uses formal methods

<h3 style="padding-top: 0.5Em;">RESEARCH OUTLINE:</h3>

<ul>
<li style="background-color: silver">
<h4>Tools for high quality software.</h4> 
For example, using AspectJ to instrument Design by Contact for Java programs; 
automatically create JUnit tests from legacy code; and enforce design decisions in software implementation;
refactoring programs that use contracts; tools that help to design `good' modularity based on Alloy specifications;
improving design decomposition.
</li>

<li style="background-color: darkgray"> 
<h4>Testing and Debugging.</h4>
For example, Automatically create JUnit tests from legacy code; 
locating regression tests; data refinement based testing: generating test cases and test oracle for
Java programs using Alloy specification; refinement-based testing of delta-oriented product lines;
using Bayesian Belief Networks (BBN) for software debugging;
verification-based test case generation for information-flow properties.
</li>


<li style="background-color: silver">
<h4>Verification.</h4>
For example, using the same JML specification of linked data structures 
for both formal verification (using KeY) and runtime checking (e.g., with the JET tool);
verification of relational Alloy specifications with KeY;
translating Alloy specifications to JML, such that both can be used
together to specify Java classes to be verified with KeY;
constructing sound abstractions of a given program and its (partial) specification, to enable verification with 
less auxiliary annotations and prove efforts; slicing for improving software verification (for both KeY and 
Dafny verifications); using theorem prover to avoid false positive notification of information flows;
using Dafny to verify nonfunctional requirements, e.g., complexity;
integration of static and dynamic analysis techniques for checking noninterference.
</li>


<li style="background-color: darkgray">
<h4>Reactive systems.</h4>
For example, reusing Verilog Designs in Esterel; purification Esterel programs so that they can be verified 
using the XEVE tool; transferring statecharts to Esterel and to nuSMV for verification.  
</li>

<li style="background-color: silver">
<h4>Other research activities.</h4>
template-based code generation; template-Based development on mobile platform;
approaches to reason about early exploration of system decomposition alternatives; 
refinement of UML diagrams and adding semantics to UML diagrams;
developing software on mobile devices;
semantics-preserving code-motion refactoring transformations;identifying microservices using functional decomposition.
</li>
</ul>

</div>


{% include person_bottom.html %}
