{% assign hebrew = false %}
{% if page.url contains '_he'%}
	{% assign hebrew = true %}
{% endif %}
<!doctype html>
{% if hebrew %}
<html dir='rtl'>
{% else %}
<html>
{%endif%}
	<head>
	{% if hebrew %}
		<title> {{page.title_he}}</title>
	{% else %}
		<title> {{page.title}}</title>
	{% endif %}
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
	<header>
	<table>
	<tr>
	<td>
	{% if hebrew %}
		<h3>{{page.courseName_he}}/{{page.courseDate}}</h3>
		<h4>בית הספר למדעי המחשב</h4>
		<h4>המכללה האקדמית תל-אביב</h4>
	{% else %}
		<h3>{{page.courseName}}/{{page.courseDate}}</h3>
		<h4>School of Computer Science</h4>
		<h4>Tel Aviv Academic College</h4>
	{% endif %}
	</td>
	<td class="switch">
		{% if hebrew %}
			{% if page.name == 'index_he.md' %}
				{% assign s = 'index.html'%}
			{% else %}
				{% assign s = page.url | remove: '_he.html' | append: '_en.html'%}
			{% endif %}
			<a href="{{s}}"><img style="width:1Em;" class="flag" src="/images/us.svg"></a>
		{% else %}
			{% if page.name == 'index.md' %}
				{% assign s = 'index_he.html'%}
			{% else %}
				{% assign s = page.url | remove:'_en.html' | append: '_he.html'%}
			{% endif %}
			<a href="{{s}}"><img style="width:1Em" class="flag" src="/images/il.svg"></a>
		{% endif %}
	</td>
	</tr>
	</table>
	
	<nav>
	<ul>
		{% if hebrew %}
			<li><a class='menu' href="/index_he.html">בית ספר</a></li>
		{% else %}
			<li><a class='menu' href="/index.html">School</a></li>
		{% endif %}
		{% if hebrew %}
			{% assign url = 'courseSlides_he.html' %}
			{% assign txt = 'שקפים' %}
		{% else %}
			{% assign url = 'courseSlides_en.html' %}
			{% assign txt = 'Slides' %}
		{% endif %}
		{% if page.url contains 'Slides' %}
			<li>{{txt}}</li>
		{% else %}
			<li><a class='menu' href='{{url}}'>{{txt}}</a></li>
		{% endif %}

		{% if hebrew %}
			{% assign url = 'courseReferences_he.html' %}
			{% assign txt = 'הפניות' %}
		{% else %}
			{% assign url = 'courseReferences_en.html' %}
			{% assign txt = 'References' %}
		{% endif %}
		{% if page.url contains 'References' %}
			<li>{{txt}}</li>
		{% else %}
			<li><a class='menu' href='{{url}}'>{{txt}}</a></li>
		{% endif %}


		{% if hebrew %}
			{% assign url = 'courseExams_he.html' %}
			{% assign txt = 'בחינות' %}
		{% else %}
			{% assign url = 'courseExams_en.html' %}
			{% assign txt = 'Exams' %}
		{% endif %}
		{% if page.url contains 'Exams' %}
			<li>{{txt}}</li>
		{% else %}
			<li><a class='menu' href='{{url}}'>{{txt}}</a></li>
		{% endif %}

	</ul>
	</nav>
	</header>
