
{% assign hebrew = false %}
{% if page.url contains '_he' %}
	{% assign hebrew = true %}
{% endif %}

<p>
{% if hebrew %}
את התואר השני והדוקטוראט קיבלתי 
<a href='https://en-exact-sciences.tau.ac.il/math/pure-mathematics-profile'>מבית הספר למתמטיקה</a>
של אוניברסיטת תל-אביב בהנחיית 
<a href='http://www.math.tau.ac.il/~gitik/'>מוטי גיטיק</a>.
<a href='https://doi.org/10.1016/S0168-0072(97)00037-7'>עבודת התואר השני</a>
 שלי עסקה בפונקצית החזקה על 
<span dir='ltr'>&omega;+1</span>
המונים הראשונים.
<a href='https://doi.org/10.2178/jsl/1185803615'>בדוקטוראט</a>
 עסקתי בהתנהגות פונקציית החזקה על כל המונים.
רשמית אני עוסק בתורת הקבוצות, משמע סוג של לוגיקאי.
{% else %}
My Ms.c. and Ph.d. degrees are from the 
<a href="https://en-exact-sciences.tau.ac.il/math/pure-mathematics-profile">Mathematics school</a>
	of Tel-Aviv Univeristy,
	supervised by  <a href='http://www.math.tau.ac.il/~gitik/'>Moti Gitik</a>.
My <a href='https://doi.org/10.1016/S0168-0072(97)00037-7'>Ms.c. thesis</a>  dealt with the power function on the first
	&omega;+1 cardinals.
My <a href='https://doi.org/10.2178/jsl/1185803615'>Ph.d. thesis</a>
 dealt with the power function on all cardinals.
Thus I am formally a set theorist, thus a kind of logician.
{% endif %}
</p>

<p>
{% if hebrew %}
השאלה אם אני מתכנת עם בעיית לוגיקה או לוגיקאי עם בעיית
תכנות היא נושא לדיון מתמשך.
{% else %}
There is an on going debate if I am a programmer with a logic problem
	or a logician with a programming problem.
{% endif %}
</p>

<p>
{% if hebrew %}
בכל הנוגע לתכנות, הסוג החביב עלי ביותר הוא תכנות ברזלים.
משמע, תכנות על חומרה ללא תיווך של מערכת הפעלה או ספריות כלשהן.
הסוג השני החביב עלי הוא תכנות ברמת הקרנל.
כמובן, הכוונה פה היא לאותו חלק בקרנל שעוסק בחומרה מה שמשאיר אותי קרוב לנושא החביב הראשון לעיל.
{% else %}
As far as programming is concerned, my favorite type is bare-metal programming.
I.e., programming working directly with the hardware without a kernel or libraries
	working in the middle.
My second favorite is kernel level programming, by which I mean the part of the	
	kernel dealing with the hardware, thus leaving me close enough to my favortie
		type.
{% endif %}
</p>
