{% include course_top.html %}

{% assign hebrew = false %}
{% if page.url contains '_he' %}
	{% assign hebrew = true %}
{% endif %}
<ul>
{% for c in db.books %}
	<li>
		{% if hebrew %}
			<h2> {{ c.title_he}}</h2>
		{% else %}
			<h2> {{ c.title }}</h2>
		{% endif %}
		<ol>
		{% for b in c.list %}
			<li>
			{% assign url = page.dir | append: 'books/' | append: b | append: '.html' %}
			{% assign s = site.pages | where: 'url', url | first %}

			{% assign str = '' %}
			{% if s.doi %}
				{% assign str = str | append: "<a href='https://dx.doi.org/"
							| append: s.doi | append: "'>"	| append: s.title
									| append: '</a>' %}
			{% else %}
				{% if s.link %}
				{% assign str = str | append: "<a href='"
							| append: s.link | append: "'>"	| append: s.title
									| append: '</a>' %}
				{% else %}
					{% assign str = str | append: s.title %}
				{% endif %}
			{% endif %}
			{% if s.author %}
				{% assign str = str | append: ', '%}
				{% assign str = str | append: s.author %}
			{% endif %}
			{% if s.publisher %}
				{% assign str = str | append: ', '%}
				{% assign str = str | append: s.publisher %}
			{% endif %}
			{% assign str = str | append: '.' %}
			{{str}}
			</li>
	{% endfor %}
	</ol>
	</li>
{% endfor %}
</ul>
{% include course_bottom.html %}
